.todos{
    padding: 1rem;
    list-style: none;


    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
    
}

.pokemon-Bulbassaur{
    background-color: green;
   
    border-radius: 1rem;
    padding: 1rem;
    height: 150px;

    color: white;
}

.titulo h5{
    padding-top: 0.5rem;

}

.titulo p{
    font-size: 10px;
    padding-top: 1rem;
}
.pokemon-Ivysaur{
    background-color: green;
   
    border-radius: 1rem;
    padding: 1rem;
    height: 150px;

    color: white;
}

.pokemon-Venusaur{
    background-color: green;
   
    border-radius: 1rem;
    padding: 1rem;
    height: 150px;

    color: white;
}

.pokemon-Chamander{
    background-color: red;
   
    border-radius: 1rem;
    padding: 1rem;
    height: 150px;

    color: white;
}

.pokemon-Charmeleon{
    background-color: red;
   
    border-radius: 1rem;
    padding: 1rem;
    height: 150px;

    color: white;
}

.pokemon-Charizard{
    background-color: red;
   
    border-radius: 1rem;
    padding: 1rem;
    height: 150px;

    color: white;
}

.pokemon-Squirtle{
    background-color: blue;
   
    border-radius: 1rem;
    padding: 1rem;
    height: 150px;

    color: white;
}

.pokemon-Wartotle{
    background-color: blue;
   
    border-radius: 1rem;
    padding: 1rem;
    height: 150px;

    color: white;
}

.pokemon-Blastoise{
    background-color: blue;
   
    border-radius: 1rem;
    padding: 1rem;
    height: 150px;

    color: white;
}

.pokemon-Pikachu{
    background-color: yellow;
   
    border-radius: 1rem;
    padding: 1rem;
    height: 150px;

    color: white;
}

.detalhes{
    display: flex;

}

.infos{
    width: 50%;
    text-align: center;
    color: white;
    padding-top: 0.5rem;
}    

.info1-Amarelo{
    background-color: orange;
    border-radius: 40%;
}

.info1-Azul{
    background-color: blueviolet;
    border-radius: 40%;
}

.info1-Vermelho{
    background-color: #780000;
    border-radius: 40%;
}

.info2-Vermelho{
    background-color: #780000;
    border-radius: 40%;
}





.info-um{
    border-radius: 40%;
    background-color: greenyellow;
}

.info-dois{
    border-radius: 40%;
    background-color: greenyellow;
}

.images{
    width: 50%;
}
.images img{
    position: relative;
    width: 7vh;
    height: 7vh;
    margin-top: 3vh;
    margin-left: 2vh;
}